<h1>pokemons works!</h1>



<div class="container d-flex gap-3 flex-wrap justify-content-between align-items-center my-5">
    <!-- <a *ngFor="let pokemon of pokemons | json" class="btn btn-primary mr-5" routerLink="/detail/{{pokemon.name}}"> -->
    <!-- <button class="pokemon p-2 m-2 btn btn-primary" *ngFor="let pokemon of pokemons" routerLink="/detail/{{pokemon.pokedex_id}}">
        <span class="text-white">{{ pokemon.name.fr }}</span>
    </button> -->

    <div class="card m-2 p-3 d-flex align-items-center justify-content-center" *ngFor="let pokemon of pokemons">
        <img src={{pokemon.sprites.regular}} alt="" width="100" height="100" class="card-img-top  ">
        <div class="card-body">
            <p class="card-text">{{ pokemon.name.fr }}</p>

        </div>
        <a routerLink="/detail/{{pokemon.pokedex_id}}" class="card-link">Details</a>
    </div>

    <!-- </a> -->
    <!-- {{ pokemons | json}} -->
</div>